name: test-kotlin

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'

      - name: Install dependencies
        run: ./gradlew dependencies

      - name: Build
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew test
